<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="charcaters show">
	<h2>Show characters</h2>

	<table summary="Character detail view">
		<tr>
			<th>Name/Class</th>
			<td><%= @charTypes.name %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @charTypes.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @charTypes.updated_at %></td>
		</tr>
		<tr>
			<th>Avatar</th>
			<td><%= image_tag @charTypes.avatar.url if @charTypes.avatar? %></td>
		</tr>
	</table>
</div>